---
import ProposalPageTitle from "components/page/proposal/ProposalPageTitle.astro";
import Container from "../../components/layout/Container.astro";
import ProposalPage from "../../components/page/proposal/ProposalPage.tsx";
import Layout from "../../layouts/Layout.astro";
import { FoksDiscussion } from "../../components/page/proposal/FoksDiscussion";
---

const url = new URL(Astro.request.url);
const proposalId = url.searchParams.get("id") || "0";


<script is:inline>
  var global = global || window;
</script>

<Layout title="Tansu" page="proposal">
  <Container>
    <ProposalPageTitle />
    <ProposalPage client:only />
    <div class="mt-8">
       <FoksDiscussion client:load proposalId={proposalId} />
    </div>
  </Container>
</Layout>

<script></script>
