---
const year = new Date().getFullYear();
---

<footer class="bg-lime bg-fixed bg-bottom text-black">
  <div class="max-w-screen-xl mx-auto px-6 md:px-14 xl:px-14">
    <div class="py-6">
      <div class="flex flex-col items-center">
        <div class="flex mt-4 md:m-0">
          <div class="-mx-4">
            Copyright © <span id="currentYear">{year}</span> Tansu. Made by Consulting
            Manao GmbH.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
