---
import DiscoverTansu from "components/DiscoverTansu.astro";
import ConnectWallet from "../ConnectWallet.astro";

const { page } = Astro.props;
---

<header>
  <nav class="w-full px-[24px] md:px-[120px]">
    <div class="max-w-[1920px] mx-auto">
      <div class="pt-[60px] md:pt-[80px] flex gap-[18px]">
        <div class="md:order-1 ml-auto flex flex-col gap-[30px]">
          <img alt="logo" src="/logo.svg" class="h-12" />
          {
            page === "home" && (
              <div class="hidden md:flex gap-[12px]">
                <p class="text-lg font-bold text-primary">Tansu</p>
                <p class="text-lg font-bold text-secondary">- alpha</p>
              </div>
            )
          }
        </div>
        <div class="md:order-2 ml-auto md:w-auto" id="navbar-default">
          <ConnectWallet />
        </div>
        <div class="md:order-0 md:w-auto">
          {page === "home" && <DiscoverTansu />}
        </div>
      </div>
    </div>
  </nav>
</header>
