---
import DiscoverTansu from "components/DiscoverTansu.astro";
import ConnectWallet from "../ConnectWallet.astro";

const { page } = Astro.props;
---

<header class="z-10">
  <nav class="hidden md:block w-full px-[120px]">
    <div class="max-w-[1920px] mx-auto">
      <div class="flex items-start justify-between pt-[81px]">
        <div class="md:w-auto">
          {page === "home" && <DiscoverTansu />}
        </div>
        <div class="mt-[13px] flex flex-col items-center gap-[30px]">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/logo.svg" class="h-12 md:h-18" alt="Logo" />
          </a>
          {
            page === "home" && (
              <p class="text-lg text-zinc-800 font-victorMono">
                <b class="text-pink">Tansu </b> - Unite developers, communities,
                and users in open-source innovation.
              </p>
            )
          }
        </div>
        <div class="md:w-auto" id="navbar-default">
          <ConnectWallet />
        </div>
      </div>
    </div>
  </nav>
  <nav class="md:hidden w-full px-8">
    <div class="flex flex-col gap-[18px] pt-[60px]">
      <div class="flex items-start justify-between">
        <div class="ml-[10px]">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/logo.svg" class="h-12" alt="Logo" />
          </a>
        </div>
        <div class="flex items-center gap-[18px]">
          <div class="" id="navbar-default">
            <ConnectWallet />
          </div>
          {
            page === "home" && (
              <div class="">
                <DiscoverTansu />
              </div>
            )
          }
        </div>
      </div>
      {
        page === "home" && (
          <div class="flex flex-col gap-[10px] font-victorMono">
            <b class="text-lg text-pink">Tansu </b>
            <p class="text-base text-zinc-800">
              Unite developers, communities, and users in open-source
              innovation.
            </p>
          </div>
        )
      }
    </div>
  </nav>
</header>
