/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #af44f2;
  --ifm-color-primary-dark: #a327f0;
  --ifm-color-primary-darker: #9c19ef;
  --ifm-color-primary-darkest: #820ecb;
  --ifm-color-primary-light: #bb61f4;
  --ifm-color-primary-lighter: #c26ff5;
  --ifm-color-primary-lightest: #d49bf8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(245, 246, 252, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #af44f2;
  --ifm-color-primary-dark: #a327f0;
  --ifm-color-primary-darker: #9c19ef;
  --ifm-color-primary-darkest: #820ecb;
  --ifm-color-primary-light: #bb61f4;
  --ifm-color-primary-lighter: #c26ff5;
  --ifm-color-primary-lightest: #d49bf8;
  --docusaurus-highlighted-code-line-bg: rgba(188, 191, 204, 0.3);
}
