---
import Modal from "components/utils/Modal.astro";
import PrimaryButton from "components/utils/PrimaryButton.astro";
---

<Modal id="last-hash-modal">
  <div
    class="p-4 lg:p-9 w-[342px] lg:w-[1048px] flex lg:flex-col gap-6 lg:gap-12"
  >
    <div class="flex flex-col gap-9">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col items-start gap-[18px]">
          <p class="text-base text-tertiary">Hash</p>
          <div class="p-[12px_18px] flex gap-[18px] bg-[#FFEFA8]">
            <p class="commit-hash text-xl text-primary"></p>
            <div class="flex items-center gap-3">
              <button class="commit-link-copy">
                <img src="/icons/clipboard.svg"/>
              </button>
              <a class="commit-link" href="" target="_blank">
                <img src="/icons/link.svg"/>
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-[18px]">
          <p class="text-base text-tertiary">Hash Date</p>
          <p class="commit-date text-xl text-primary"></p>
        </div>
        <div class="flex flex-col gap-[18px]">
          <p class="text-base text-tertiary">Hash Author</p>
          <p class="commit-author text-xl text-primary"></p>
        </div>
      </div>
    </div>
    <div class="flex gap-[18px]">
      <PrimaryButton icon="/icons/logos/web_white.svg"> View Hash on Web-Site </PrimaryButton>
      <button
        class="p-[12px_24px] bg-[#F5F1F9] text-xl text-primary"
        onclick="this.closest('dialog').close()"
      >
        Close
      </button>
    </div>
  </div>
</Modal>
