---
import Modal from "components/utils/Modal.astro";
import Button from "components/utils/Button";
---

<Modal id="last-hash-modal">
  <div
    class="p-3 sm:p-4 lg:p-9 w-full sm:w-[342px] lg:w-[1048px] flex flex-col sm:flex-row items-start gap-4 sm:gap-[18px]"
  >
    <img
      src="/images/scan.svg"
      class="w-16 h-16 sm:w-auto sm:h-auto mx-auto sm:mx-0 mb-2 sm:mb-0"
    />
    <div class="flex-grow flex flex-col gap-6 sm:gap-12 w-full">
      <div class="flex flex-col gap-6 sm:gap-9">
        <h6
          class="leading-6 text-xl sm:text-2xl font-medium text-primary text-center sm:text-left"
        >
          Latest Commit Hash
        </h6>
        <div class="flex flex-col gap-4 sm:gap-6">
          <div class="flex flex-col items-start gap-2 sm:gap-[18px]">
            <p class="text-sm sm:text-base text-tertiary">Hash</p>
            <div
              class="p-2 sm:p-[12px_18px] flex gap-2 sm:gap-[18px] bg-[#FFEFA8] w-full"
            >
              <p
                class="commit-hash text-base sm:text-xl text-primary break-all"
              >
              </p>
              <div
                class="flex items-center gap-2 sm:gap-3 ml-auto flex-shrink-0"
              >
                <button class="commit-link-copy">
                  <img
                    src="/icons/clipboard.svg"
                    class="w-4 h-4 sm:w-auto sm:h-auto"
                  />
                </button>
                <a class="commit-link" href="" target="_blank">
                  <img
                    src="/icons/link.svg"
                    class="w-4 h-4 sm:w-auto sm:h-auto"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-2 sm:gap-[18px]">
            <p class="text-sm sm:text-base text-tertiary">Hash Date</p>
            <p class="commit-date text-base sm:text-xl text-primary"></p>
          </div>
          <div class="flex flex-col gap-2 sm:gap-[18px]">
            <p class="text-sm sm:text-base text-tertiary">Hash Author</p>
            <p class="commit-author text-base sm:text-xl text-primary"></p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col sm:flex-row sm:justify-end gap-3 sm:gap-[18px] w-full"
      >
        <button
          class="p-2 sm:p-[12px_24px] bg-[#F5F1F9] text-base sm:text-xl text-primary w-full sm:w-auto"
          onclick="this.closest('dialog').close()"
        >
          Close
        </button>
        <Button icon="/icons/logos/web_white.svg" className="w-full sm:w-auto">
          View Hash on Web-Site
        </Button>
      </div>
    </div>
  </div>
</Modal>
