---
import ReadmeViewer from "./ReadmeViewer";
import Button from "components/utils/Button";
---

<div class="relative flex flex-col items-center">
  <div class="flex flex-col gap-[15px] lg:gap-[30px]">
    <div class="flex max-lg:flex-col gap-[9px] lg:gap-[18px]">
      <Button id="copy-repo-link" type="secondary" icon="/icons/clipboard.svg">
        <span id="copy-repo-text" class="leading-5 text-xl text-primary">
          Clone Repository
        </span>
      </Button>
      <a
        id="move-to-releases"
        class="p-[9px_30px] lg:p-[18px_30px] bg-[#F5F1F9] flex gap-3"
      >
        <img src="/icons/link.svg" />
        <span class="leading-5 text-xl text-primary cursor-pointer">
          Go to Releases
        </span>
      </a>
    </div>
    <ReadmeViewer client:load />
  </div>
</div>

<script>
  import { loadProjectInfo } from "../../../service/StateService";
  import { projectInfoLoaded } from "../../../utils/store";
  document.addEventListener("astro:page-load", () => {
    async function updateProjectInfo() {
      const projectInfo = loadProjectInfo();
      if (projectInfo) {
        const repositoryUrl = projectInfo.config.url;
        const copyRepoLink = document.getElementById("copy-repo-link");
        const copyRepoText = document.getElementById("copy-repo-text");

        if (copyRepoLink && copyRepoText) {
          copyRepoLink.addEventListener("click", async () => {
            try {
              await navigator.clipboard.writeText(`git clone ${repositoryUrl}`);
              copyRepoText.textContent = "Copied";
              setTimeout(() => {
                copyRepoText.textContent = "Clone repository";
              }, 2000);
            } catch (error) {
              console.error("Failed to copy: ", error);
            }
          });
        }

        const moveToReleases = document.getElementById("move-to-releases");
        if (moveToReleases) {
          moveToReleases.addEventListener("click", () => {
            const releasesUrl = `${repositoryUrl}/releases`;
            window.open(releasesUrl, "_blank");
          });
        }
      }
    }

    projectInfoLoaded.subscribe((loaded) => {
      if (loaded) {
        updateProjectInfo();
      }
    });
  });
</script>
