[package]
name = "versioning"
version = "1.0.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }
bytes = "1.10.1"

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
