@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline {
    -webkit-text-stroke: 2.5px black;
    background-color: transparent;
  }
  .font-outline-sm {
    -webkit-text-stroke: 1.2px black;
    background-color: transparent;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px !important;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #777 !important;
  border-radius: 10px;
  border: 2px solid #f1f1f1 !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555 !important;
}