<div id="connect-wrap" aria-live="polite">
  <button
    data-connect
    aria-controls="connect-wrap"
    class="text-center text-sm sm:text-base max-w-28 sm:max-w-36 md:max-w-44"
    >Connect</button
  >
</div>

<script>
  import { truncateMiddle } from "../utils/utils";
  import {
    initializeConnection,
    kit,
    loadedPublicKey,
    setPublicKey,
  } from "./stellar-wallets-kit";

  document.addEventListener("astro:page-load", () => {
    initializeConnection();
    const button = document.querySelector(
      "[data-connect]",
    ) as HTMLButtonElement;

    async function setLoggedIn(publicKey: string) {
      const truncatedKey = truncateMiddle(publicKey, 13);
      button.textContent = truncatedKey;
      button.title = publicKey;
    }

    const connectedPublicKey = loadedPublicKey();
    if (connectedPublicKey) {
      setLoggedIn(connectedPublicKey);
    }

    if (button) {
      button.addEventListener("click", async () => {
        try {
          await kit.openModal({
            onWalletSelected: async (option: { id: string }) => {
              try {
                kit.setWallet(option.id);
                const { address } = await kit.getAddress();
                setPublicKey(address);
                await setLoggedIn(address);
                window.dispatchEvent(
                  new CustomEvent("walletConnected", { detail: address }),
                );
              } catch (e) {
                console.error(e);
              }
            },
          });
        } catch (e) {
          console.error(e);
        }
      });
    }
  });
</script>
