<div id="connect-wrap" aria-live="polite" class="relative">
  <div
    id="get-started"
    class="absolute hidden top-6 -left-16 xl:flex flex-col gap-2 transform -rotate-[13deg]"
  >
    <img src="/arrow.svg" alt="" class="w-[56px] h-[69px]" />
    <p class="text-victormono text-lg italic text-zinc-700 text-nowrap">
      Get Started
    </p>
  </div>
  <button
    data-connect
    aria-controls="connect-wrap"
    class="w-[130px] sm:w-[162px] md:w-[180px] h-10 md:h-12 flex justify-center items-center gap-2 md:gap-3 bg-white shadow-button truncate"
  >
    <p
      class="text-sm sm:text-base md:text-xl leading-4 md:leading-5 text-pink truncate"
    >
      Connect
    </p>
    <img
      src="/icons/connect.png"
      alt=""
      class="w-4 md:w-5 h-4 md:h-5 flex-shrink-0"
    />
  </button>
</div>

<script>
  import { connectedPublicKey } from "utils/store";
  import {
    initializeConnection,
    loadedPublicKey,
    setPublicKey,
  } from "../service/walletService";
  import { truncateMiddle } from "../utils/utils";
  import { kit } from "./stellar-wallets-kit";

  document.addEventListener("astro:page-load", () => {
    initializeConnection();
    const button = document.querySelector(
      "[data-connect]",
    ) as HTMLButtonElement;

    async function setLoggedIn(publicKey: string) {
      const truncatedKey = truncateMiddle(publicKey, 13);
      button.innerHTML = truncatedKey;
      button.title = publicKey;
      button.classList.toggle("bg-white", false);
      button.classList.toggle("bg-primary", true);
      button.classList.toggle("text-white", true);
    }

    const publicKey = loadedPublicKey();
    if (publicKey) {
      setLoggedIn(publicKey);
    }

    if (button) {
      button.addEventListener("click", async () => {
        try {
          await kit.openModal({
            onWalletSelected: async (option: { id: string }) => {
              try {
                kit.setWallet(option.id);
                const { address } = await kit.getAddress();
                setPublicKey(address);
                await setLoggedIn(address);
                window.dispatchEvent(
                  new CustomEvent("walletConnected", { detail: address }),
                );
              } catch (e) {
                console.error(e);
              }
            },
          });
        } catch (e) {
          console.error(e);
        }
      });
    }

    const getStarted = document.querySelector("#get-started");
    connectedPublicKey.subscribe((publicKey) => {
      if (publicKey) {
        getStarted?.classList.remove("xl:flex");
      }
    });
  });
</script>
