<div id="dicover-tansu" aria-live="polite" class="relative">
  <div
    class="absolute -bottom-[34px] -left-[68px] flex md:hidden gap-1.5 items-end"
  >
    <p
      class="text-victormono text-[11px] leading-[11px] -mb-1 italic text-zinc-700 text-nowrap"
    >
      Learn More
    </p>
    <img
      src="/arrow-up.svg"
      alt=""
      class="w-[31px] h-[25px] transform -rotate-[7deg]"
    />
  </div>
  <a
    data-dicover
    aria-controls="dicover-tansu"
    href="https://tansu.dev/docs/intro"
    class="h-12 md:h-[60px] w-12 md:w-[284px] bg-white flex gap-3 justify-center items-center"
  >
    <p class="hidden md:block text-xl leading-5 text-pink">Discover Tansu</p>
    <div class="p-1">
      <img src="/icons/discover.png" class="h-4 md:h-5" alt="" />
    </div>
  </a>
</div>
