---
import Topic from "./Topic.astro";
import Loading from "./Loading.astro";
---

<div class="relative flex flex-col items-center md:flex-row">
  <Topic title="Latest hash" description="Get the latest hash on-chain" />
</div>

<div class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]">
  <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
    <div id="wrap-get-hash-button" class="space-y-8 md:w-full">
      <button data-project-get-hash class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex">
        <span class="text-center text-white text-xl font-normal leading-7">Latest hash</span>
      </button>
    </div>
    <div id="wrap-get-hash-loader" class="hidden">
      <Loading />
    </div>
  </div>
</div>

<script>
  import {getProjectHash} from "./project";

  const wrap_loader = document.querySelector('#wrap-get-hash-loader');
  const wrap_button = document.querySelector('#wrap-get-hash-button');
  const button = document.querySelector('[data-project-get-hash]');

  button.addEventListener('click', async () => {
    wrap_loader.classList.remove("hidden");
    wrap_loader.classList.add("visible");
    wrap_button.classList.add("hidden");
    try {
      const project_hash = await getProjectHash();

      wrap_loader.classList.add("hidden");
      wrap_button.classList.add("visible");
      wrap_button.classList.remove("hidden");
      wrap_button.innerHTML = `${project_hash}`;
    } catch (e) {
      console.error(e);
    }
  });


</script>
