---
import Topic from "./utils/Topic.astro";
import Loading from "./utils/Loading.astro";
import PrimaryButton from "./utils/PrimaryButton.astro";
---

<div class="relative flex flex-col items-center md:flex-row">
  <Topic title="Latest hash" description="Get the latest hash on-chain" />
</div>

<div
  class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]"
>
  <div class="row items-center py-12 px-6 sm:px-12 md:px-20 w-full md:w-8/12 md:py-10">
    <PrimaryButton
      wrapId="wrap-get-hash-button"
      dataAttr="data-project-get-hash"
      ariaControls="get-hash"
      buttonText="Latest hash"
    />
    <div id="wrap-get-hash-loader" class="hidden">
      <Loading />
    </div>
  </div>
</div>

<script>
  import { getProjectHash } from "../service/ProjectService";

  document.addEventListener("astro:page-load", () => {
    const wrap_loader = document.getElementById(
      "wrap-get-hash-loader",
    ) as HTMLDivElement;
    const wrap_button = document.getElementById(
      "wrap-get-hash-button",
    ) as HTMLDivElement;
    const button = document.querySelector(
      "[data-project-get-hash]",
    ) as HTMLButtonElement;

    if (button) {
      button.addEventListener("click", async () => {
        wrap_loader.style.display = "block";
        wrap_button.style.display = "none";
        try {
          const project_hash = await getProjectHash();

          wrap_loader.style.display = "none";
          wrap_button.style.display = "block";
          wrap_button.innerHTML = `${project_hash}`;
        } catch (e) {
          console.error(e);
        }
      });
    }
  });
</script>
