---
const { msg, link } = Astro.props;
---

<div class="py-4">
    <!-- card start-->
    <div class="h-[80px] p-12 bg-zinc-100 rounded-[45px] shadow-card border border-black justify-between items-center flex text-black">
        <div class="flex-row justify-center items-start gap-[20px] inline-flex">
            <div class="flex-row justify-start items-start flex">
                <div class="px-[7px] bg-lime-300 rounded-[7px] flex-row justify-start items-start flex">
                    <div class=" text-3xl font-medium">On-chain</div>
                </div>
                <div class="px-[7px] bg-lime-300 rounded-[7px] flex-row justify-start items-start flex">
                    <div class="text-3xl font-medium">{msg}</div>
                </div>
            </div>
            <a class="justify-start items-center gap-[15px] inline-flex" href={link}>
                <div class="w-[41px] h-[41px] relative">
                    <img class="w-[41px] h-[41px] left-0 top-0 absolute" src="./ag.svg" />
                </div>
                <div class="text-xl font-normal leading-7">Explore</div>
            </a>
        </div>
        <!--<div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">-->
        <!--    <img class="hidden md:block" src={image} />-->
        <!--</div>-->
    </div>
    <!-- card end-->
</div>
