---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import OnChainCard from "./OnChainCard.astro"

const SOROBAN_NETWORK = import.meta.env.SOROBAN_NETWORK ?? "testnet"
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row">
        <Topic title="Project" description="Look for a project of register one" />
    </div>

    <div class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]">
        <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
            <div class="space-y-8 md:w-full">
                <label class="block mb-2 text-base font-medium text-black">
                    Project Name
                    <input type="text" id="project-name" name="project-name" class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black" placeholder="Project Name" required maxlength="15">
                </label>
                <button data-project-name class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex">
                    <span class="text-center text-white text-xl font-normal leading-7">Verify project</span>
                </button>
            </div>
        </div>
    </div>

    <div class="relative flex flex-col items-center md:flex-row">
        <Topic title="Latest hash" description="Get the latest hash on-chain" />
    </div>

    <div class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]">
        <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
            <div class="space-y-8 md:w-full">
                <button data-project-get-hash class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex">
                    <span class="text-center text-white text-xl font-normal leading-7">Latest hash</span>
                </button>
            </div>
        </div>

        <OnChainCard msg="" link=`https://stellar.expert/explorer/${SOROBAN_NETWORK}/contract/CAP52ERGUZ65UNPHP36CQBHYUPEUG2TT4NPVEV7CREWRT7UCPD7PRWEE` />
    </div>

    <div class="relative flex flex-col items-center md:flex-row">
        <Topic title="Commit" description="Update hash on-chain" />
    </div>

    <div class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]">
        <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
            <div class="space-y-8 md:w-full">
                <label class="block mb-2 text-base font-medium text-black">
                    Commit hash
                    <input type="text" id="commit_hash" name="commit_hash" class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black" placeholder="Last commit hash" required maxlength="15">
                </label>
                <button data-commit-hash aria-controls="commit-hash" class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex">
                    <span class="text-center text-white text-xl font-normal leading-7">Commit on-chain</span>
                </button>
            </div>
        </div>
    </div>


</Container>


<script>
  import { commitHash, getProjectHash, setProjectId} from "./project";

  const project_name = document.getElementById('project-name');
  const button_project_name = document.querySelector('[data-project-name]');

  button_project_name.addEventListener('click', async () => {
    button_project_name.disabled = true;
    try {
        setProjectId(project_name.value);
        button_project_name.disabled = false;
    } catch (e) {
      console.error(e);
    }
    alert("Project enabled");
  });

  const button_project_get_hash = document.querySelector('[data-project-get-hash]');

  button_project_get_hash.addEventListener('click', async () => {
    button_project_get_hash.disabled = true;
    try {
        const project_hash = await getProjectHash();
        button_project_get_hash.disabled = false;
        alert(project_hash);
    } catch (e) {
      console.error(e);
    }
  });

  const commit_hash = document.getElementById('commit_hash');
  const button_project_commit = document.querySelector('[data-commit-hash]');

  button_project_commit.addEventListener('click', async () => {
    button_project_commit.disabled = true;
    try {
        button_project_commit.classList.add("loading");
        await commitHash(commit_hash.value);
        button_project_commit.disabled = false;
        button_project_commit.classList.remove("loading");
    } catch (e) {
      console.error(e);
    }
    alert("Hash committed!");
  });
</script>
