---
import Topic from "./utils/Topic.astro";
import LinkCard from "./utils/LinkCard.astro";
import PrimaryButton from "./utils/PrimaryButton.astro";

const SOROBAN_NETWORK = import.meta.env.SOROBAN_NETWORK;
const TANSU_CONTRACT_ID = import.meta.env.PUBLIC_TANSU_CONTRACT_ID;
---

<div class="relative flex flex-col items-center md:flex-row">
  <Topic title="Project" description="Look for a project of register one" />
</div>

<div
  class="relative flex flex-col justify-start md:justify-between items-center md:flex-row my-6 px-4 md:px-16 bg-zinc-100 rounded-[45px]"
>
  <div class="row items-center py-8 md:py-10 md:w-6/12">
    <div class="space-y-8 md:w-full">
      <label class="block mb-2 text-base font-medium text-black">
        Project Name
        <input
          type="text"
          id="set-project"
          name="set-project"
          class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black"
          placeholder="Project Name"
          required
          maxlength="15"
        />
      </label>
      <PrimaryButton
        wrapId="wrap-set-project-button"
        dataAttr="data-set-project"
        ariaControls="set-project"
        buttonText="Set project"
      />
    </div>
  </div>
  <LinkCard
    line1="On-chain"
    link=`https://stellar.expert/explorer/${SOROBAN_NETWORK}/contract/${TANSU_CONTRACT_ID}`
  />
</div>

<script>
  import { getProject, getProjectHash } from "../service/ReadContractService";
  import { setProjectId, setProject, setProjectRepoInfo, setConfigData, refreshLocalStorage, setProjectLatestSha } from "../service/StateService";
  import { navigate } from "astro:transitions/client";
  import { getAuthorRepo } from "../utils/editLinkFunctions";
  import { fetchTOMLFromConfigUrl } from "../service/GithubService";
  // import { showToast } from "../utils/toast";

  document.addEventListener("astro:page-load", () => {
    const project_name = document.getElementById(
      "set-project",
    ) as HTMLInputElement;
    const button = document.querySelector(
      "[data-set-project]",
    ) as HTMLButtonElement;

    // Function to handle project setting
    const handleSetProject = async () => {
      if (!project_name.value) {
        console.log("project name error.");
        // showToast.error("you didn't set the project name.");
        return;
      }

      refreshLocalStorage();
      try {
        setProjectId(project_name.value.toLowerCase());
        const project = await getProject();
        if (project && project.name && project.config && project.maintainers) {
          setProject(project);
          const { username, repoName } = getAuthorRepo(project.config.url);
          if (username && repoName) {
            setProjectRepoInfo(username, repoName);
          }
          const tomlData = await fetchTOMLFromConfigUrl(project.config.url);
          if (tomlData) {
            const configData = {
              projectName: project.name,
              logoImageLink: tomlData.DOCUMENTATION?.ORG_LOGO || "",
              thumbnailImageLink: tomlData.DOCUMENTATION?.ORG_THUMBNAIL || "",
              description: tomlData.DOCUMENTATION?.ORG_DESCRIPTION || "",
              companyName: tomlData.DOCUMENTATION?.ORG_NAME || "",
              officials: {
                websiteLink: tomlData.DOCUMENTATION?.ORG_URL || "",
                githubLink: tomlData.DOCUMENTATION?.ORG_GITHUB || "",
              },
              socialLinks: {
                ...(tomlData.DOCUMENTATION?.ORG_TWITTER && { twitter: tomlData.DOCUMENTATION.ORG_TWITTER }),
                ...(tomlData.DOCUMENTATION?.ORG_TELEGRAM && { telegram: tomlData.DOCUMENTATION.ORG_TELEGRAM }),
                ...(tomlData.DOCUMENTATION?.ORG_DISCORD && { discord: tomlData.DOCUMENTATION.ORG_DISCORD }),
                ...(tomlData.DOCUMENTATION?.ORG_INSTAGRAM && { instagram: tomlData.DOCUMENTATION.ORG_INSTAGRAM }),
                ...(tomlData.DOCUMENTATION?.ORG_FACEBOOK && { facebook: tomlData.DOCUMENTATION.ORG_FACEBOOK }),
                ...(tomlData.DOCUMENTATION?.ORG_REDDIT && { reddit: tomlData.DOCUMENTATION.ORG_REDDIT }),
              },
              authorGithubNames: tomlData.PRINCIPALS?.map((p: { github: any; }) => p.github) || [],
              maintainersAddresses: tomlData.ACCOUNTS || [],
            };
            setConfigData(configData);
          } else {
            setConfigData({});
          }
          
          const latestSha = await getProjectHash();
          if (typeof latestSha === 'string' && latestSha.match(/^[a-f0-9]{40}$/)) {
            setProjectLatestSha(latestSha);
          } else setProjectLatestSha("");
          navigate("/project");
        } else {
          navigate("/register");
        }
      } catch (e) {
        console.error(e);
      }
    };

    if (button) {
      button.addEventListener("click", handleSetProject);
    }

    // Add event listener for Enter key press
    if (project_name) {
      project_name.addEventListener("keydown", (event) => {
        if (event.key === "Enter") {
          event.preventDefault();
          handleSetProject();
        }
      });
    }
  });
</script>
