---
const { title, description } = Astro.props;
---

<div class="grid place-items-center gap-8 mb-1.5 mt-12 md:flex">
  <span class="sm:text-4xl text-nowrap px-1.5 font-medium bg-lime rounded-md">
    {title}
  </span>
  <p class="text-xl font-normal text-center md:text-start lg:w-2/3">
    {description}
  </p>
</div>
