---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<dialog
  id={id}
  class="modal relative !overflow-visible fixed inset-0 m-auto max-w-[95vw] sm:max-w-[90vw]"
  onclick="this.closest('dialog').close()"
>
  <button
    class="absolute cursor-pointer right-1 top-1 sm:right-0 sm:top-0 p-2 sm:p-[12px] bg-red sm:translate-x-1/2 sm:-translate-y-1/2"
    onclick="this.closest('dialog').close()"
  >
    <img
      src="/icons/cancel-white.svg"
      width={16}
      height={16}
      class="w-3 h-3 sm:w-4 sm:h-4 md:w-[18px] md:h-[18px]"
    />
  </button>
  <div onclick="event.stopPropagation()" class="p-2 sm:p-4">
    <slot />
  </div>
</dialog>

<style>
  .modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(24px);
  }

  .modal {
    padding: 0;
    max-height: 90vh;
    overflow-y: auto;
  }
</style>
