---
import { CloseIcon } from "components/icons";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<dialog id={id} class="modal relative !overflow-visible">
  <button
    class="absolute right-0 top-0 p-[18px] bg-[#FF3B30] lg:translate-x-1/2 -translate-y-1/2"
    onclick="this.closest('dialog').close()"
  >
    <CloseIcon />
  </button>
  <slot />
</dialog>

<style>
  .modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(24px);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const modals = document.querySelectorAll(".modal");
    modals.forEach((modal) => {
      if (modal instanceof HTMLDialogElement) {
        const closeBtn = modal.querySelector("button");
        closeBtn?.addEventListener("click", () => modal.close());
      }
    });
  });
</script>
