---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<dialog
  id={id}
  class="modal relative !overflow-visible fixed inset-0 m-auto"
  onclick="this.closest('dialog').close()"
>
  <button
    class="absolute cursor-pointer right-0 top-0 p-[12px] bg-red lg:translate-x-1/2 -translate-y-1/2"
    onclick="this.closest('dialog').close()"
  >
    <img src="/icons/cancel-white.svg" width={18} height={18} />
  </button>
  <div onclick="event.stopPropagation()">
    <slot />
  </div>
</dialog>

<style>
  .modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(24px);
  }
</style>
