---
interface Props {
  id?: string;
  icon?: string;
}

const { id, icon } = Astro.props;
---

<button
  id={id}
  class="flex items-center gap-3 p-[18px_30px] bg-primary text-xl text-white"
>
  {icon && <img src={icon} />}
  <slot />
</button>
