---
const { title, description, id } = Astro.props;
---

<div id={id} class="grid place-items-center gap-8 mb-1.5 mt-12 md:flex">
  <span
    class="text-2xl sm:text-4xl text-nowrap px-1.5 font-medium bg-lime rounded-md"
  >
    {title}
  </span>
  <p class="text-2xl font-normal text-center md:text-start">
    {description}
  </p>
</div>
