# Prefix with "PUBLIC_" to make available in Astro frontend files
PUBLIC_SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org:443"

PUBLIC_TANSU_CONTRACT_ID="CCHZAAUJJZOCFZVTQWGZU4PXR7SFB5PL3XBSHUBNQPXJ3KWE4VFHOBE5"
PUBLIC_SOROBAN_DOMAIN_CONTRACT_ID="CDGNT7DB7BC6LFAAQ4BZGZYOC5UMSR55KOZGALVOPODLKMINQWACHKZF"
PUBLIC_TANSU_OWNER_ID="GCILP4HWE2QGEO4KUMOZ6S6J3A46W47EVCGZW2YPYCPH5CQF6EACNBCN"

SOROBAN_NETWORK="testnet | public"

PUBLIC_DEFAULT_FEE="100"
PUBLIC_DEFAULT_TIMEOUT=30
