# All required at runtime. PUBLIC_* exposed to frontend.

PUBLIC_SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org:443"
PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

PUBLIC_TANSU_CONTRACT_ID="CBXKUSLQPVF35FYURR5C42BPYA5UOVDXX2ELKIM2CAJMCI6HXG2BHGZA"
PUBLIC_SOROBAN_DOMAIN_CONTRACT_ID="CAUORQ7XOSJOV6NLUK2A7FZSZP5Z55AQPEPMWDEZPQ4DDKSTXBBEDKNF"
PUBLIC_TANSU_OWNER_ID="GCILP4HWE2QGEO4KUMOZ6S6J3A46W47EVCGZW2YPYCPH5CQF6EACNBCN"

# IPFS upload flows
PUBLIC_DELEGATION_API_URL="https://ipfs-testnet.tansu.dev"
