<!-- ---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/layout/Container.astro";
import ProposalPage from "../../components/page/vote/ProposalPage.astro";
---
<script is:inline>
  var global = global || window;
</script>

<Layout title="Tansu">
  <main class="space-y-20">
    <Container>
      <ProposalPage />
    </Container>
  </main>
</Layout> -->
