---
import Layout from "../layouts/Layout.astro";

import GetCommit from "../components/GetCommit.astro";
import Commit from "../components/Commit.astro";
import Container from "../components/Container.astro";
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Tansu">
  <main class="space-y-20">
    <Container>
      <GetCommit />
      <Commit />
    </Container>
  </main>
</Layout>
