---
import Layout from "../layouts/Layout.astro";

import Container from "../components/layout/Container.astro";
import ProjectList from "../components/page/dashboard/ProjectList.jsx";
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Tansu" page="home">
  <main class="pt-[225px]">
    <Container>
      <ProjectList client:load />
    </Container>
  </main>
</Layout>
