---
import Layout from "@layouts/Layout.astro";

import Container from "@components/layout/Container.astro";
import ProjectList from "@components/page/dashboard/ProjectList.jsx";
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Tansu">
  <main class="space-y-20">
    <Container>
      <ProjectList client:load />
    </Container>
  </main>
</Layout>
