---
import Layout from "../layouts/Layout.astro";

import SetProject from "../components/SetProject.astro";
import Container from "../components/layout/Container.astro";
import ProjectList from "../components/ProjectList.jsx";
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Tansu">
  <main class="space-y-20">
    <Container>
      <SetProject />
      <ProjectList client:load />
    </Container>
  </main>
</Layout>
