---
import Layout from "../layouts/Layout.astro";

import ProjectId from "../components/ProjectId.astro";
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Tansu">
  <main class="space-y-20">
    <ProjectId />
  </main>
</Layout>
