---
import Layout from "../layouts/Layout.astro";

import GetCommit from "../components/GetCommit.astro";
import CommitComponent from "../components/Commit.astro";
import Container from "../components/layout/Container.astro";
import ProjectInfo from "../components/ProjectInfo.astro";
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Tansu">
  <main class="space-y-20">
    <Container>
      <ProjectInfo />
      <GetCommit />
      <CommitComponent />
    </Container>
  </main>
</Layout>
