---
import Layout from "../layouts/Layout.astro";

import Container from "../components/Container.astro";
import RegisterProject from "../components/RegisterProject.astro";
---

<script is:inline>
  var global = global || window;
</script>
<Layout title="Register | Tansu">
  <main class="space-y-20">
    <Container>
      <RegisterProject />
    </Container>
  </main>
</Layout>
