---
import PrimaryButton from "../../utils/PrimaryButton.astro";
import Topic from "../../utils/Topic.astro";
---

<div
  class="relative flex flex-col items-center md:flex-row justify-between mb-1.5 mt-4 sm:mt-8 md:mt-12 gap-y-4"
>
  <Topic
    title="Tansu DAO"
    description="Tansu DAO system"
    id="proposal-page-topic"
  />
  <div id="create-proposal-button" class="">
    <PrimaryButton
      wrapId="wrap-create-proposal-button"
      dataAttr="data-create-proposal-button"
      ariaControls="create-proposal-modal"
      buttonText="Create Proposal"
    />
  </div>
</div>

<script></script>
