---
import PrimaryButton from "../../utils/PrimaryButton.astro";
import Topic from "../../utils/Topic.astro";
---

<div
  class="relative flex flex-col items-center md:flex-row justify-between mb-1.5 mt-4 sm:mt-8 md:mt-12 gap-y-4"
>
  <Topic title="Project Governance" description="" id="proposal-page-topic" />
  <div id="create-proposal-button" class="">
    <PrimaryButton
      wrapId="wrap-create-proposal-button"
      dataAttr="data-create-proposal-button"
      ariaControls="create-proposal-modal"
      buttonText="Submit Proposal"
    />
  </div>
</div>

<script>
  import { navigate } from "astro:transitions/client";
  import { projectNameForGovernance } from "utils/store";
  import { capitalizeFirstLetter } from "utils/utils";

  document.addEventListener("astro:page-load", async () => {
    let projectName = "";
    projectNameForGovernance.subscribe((_projectName) => {
      if (_projectName) {
        const titleElement = document
          .getElementById("proposal-page-topic")
          ?.querySelector("span");
        if (titleElement) {
          titleElement.textContent = `${capitalizeFirstLetter(_projectName)} Governance`;
        }
        projectName = _projectName;
      }
    });

    const submitProposalButton = document.getElementById(
      "wrap-create-proposal-button",
    );

    if (submitProposalButton) {
      submitProposalButton.addEventListener("click", () => {
        if (projectName) {
          navigate(`/proposal/new?name=${projectName}`);
        } else {
          alert("Project name is not provided");
        }
      });
    }
  });
</script>
