---
import GovernancePageTitle from "./GovernancePageTitle.astro";
import ProposalsSection from "./ProposalsSection.tsx";
---

<div>
  <GovernancePageTitle />
  <ProposalsSection client:load />
</div>
