---
import Button from "components/utils/Button";
---

<div class="z-[1] flex justify-between items-center">
  <a href="" id="back-link" class="flex gap-[14px]">
    <img src="/icons/back.svg" />
    <p class="leading-5 text-xl text-primary">Back to Project Page</p>
  </a>
  <Button id="create-proposal-button" className="hidden" icon="/icons/send.svg">
    Submit Proposal
  </Button>
</div>

<script>
  import { getProjectFromName } from "@service/ReadContractService";
  import { connectedPublicKey } from "utils/store";
  import { toast } from "utils/utils";

  document.addEventListener("astro:page-load", async () => {
    const urlParams = new URLSearchParams(window.location.search);
    const projectName = urlParams.get("name");

    const backLink = document.getElementById("back-link");
    if (backLink) {
      if (backLink) {
        backLink.setAttribute("href", `/project?name=${projectName}`);
      }
    }

    let maintainers: string[] = [];
    const createProposalButton = document.querySelector(
      "#create-proposal-button",
    );

    const res = await getProjectFromName(projectName!);
    const projectInfo = res.data;
    if (projectInfo && projectInfo.maintainers) {
      maintainers = projectInfo?.maintainers;
    } else {
      toast.error("Something Went Wrong!", res.errorMessage);
    }

    connectedPublicKey.subscribe((publicKey) => {
      if (maintainers.includes(publicKey)) {
        createProposalButton?.classList.remove("hidden");
      }
    });
  });
</script>
