---
import Topic from "components/utils/Topic.astro";
---

<div
  class="relative flex flex-col items-center md:flex-row justify-between mb-1.5 mt-4 sm:mt-8 md:mt-12 gap-y-4"
>
  <Topic title="Create Proposal" description="" id="new-proposal-topic" />
</div>
