---
import ProposalForm from "./ProposalForm";
---

<div class="w-full bg-white p-[48px_72px] shadow-[1px_2px_18px_0_#3112550F]">
  <ProposalForm client:load />
</div>

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", async () => {
    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);
    const name = params.get("name");

    const backButton = document.getElementById("back-button");
    if (backButton) {
      backButton.addEventListener("click", () => {
        navigate(`/governance?name=${name}`);
      });
    }
  });
</script>
