---
import ProposalForm from "./ProposalForm";
---

<div
  class="relative flex flex-col items-center lg:flex-row my-6 bg-zinc-100 rounded-[45px]"
>
  <div
    class="row items-center py-12 px-4 sm:px-12 md:px-20 md:py-10 w-full lg:max-w-none"
  >
    <ProposalForm client:load />
  </div>
</div>
