---
import { BackIcon } from "components/icons";
---

<div class="z-10 w-full">
  <button id="back-button" class="flex gap-[14px]">
    <BackIcon />
    <p class="leading-5 text-xl text-primary">Back to DAO Page</p>
  </button>
</div>
