name: Linting

permissions:
  contents: read

on:
  # TODO adjust once we do PR
  push:
    branches: [ main ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pre-commit-linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
      #      - uses: oven-sh/setup-bun@v1
      #
      #      - name: Install deps
      #        run: bun install --global prettier @stellar/prettier-config prettier-plugin-astro

      - name: Install pre-commit
        run: python -m pip install pre-commit

      - name: Run pre-commit
        run: |
          pre-commit run --show-diff-on-failure --color=always ruff
          pre-commit run --show-diff-on-failure --color=always ruff-format
          pre-commit run --show-diff-on-failure --color=always clippy
          pre-commit run --show-diff-on-failure --color=always rustfmt

  website-dapp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Install website dependencies
        run: cd website && bun install

      - name: Check MDX
        run: cd website && bun linter

      - name: Build website
        run: cd website && bun run build

      - name: Install App dependencies
        run: cd dapp && bun install

      - name: Linter
        run: cd dapp && bun linter

      - name: Build app
        run: cd dapp && bun run build
